.app {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-content: start;
  background: #fff;
  color: #333;
}

.app-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.app-footer {
  padding-bottom: 5px;
  padding-right: 10px;
  align-self: end;
  justify-self: end;
  font-style: italic;
  font-size: 0.5rem;
  color: rgb(180, 180, 180);
}